<div class="container">
    <nav>
        <div class="main"><a routerLink="federation" id="federation" class="main">United Federation of Planets</a></div>
        <div class="main"><a routerLink="klingon" id="klingon" class="main">Klingon Empire</a></div>
        <div class="main"><a routerLink="romulan" id="romulan" class="main">Romulan Empire</a></div>
        <div class="main"><a routerLink="cardassian" id="cardassian" class="main">Cardassian Union</a></div>
        <div class="main"><a routerLink="ferengi" id="ferengi" class="main">Ferengi Alliance</a></div>
        <div class="main"><a routerLink="borg" id="borg" class="main">The Borg</a></div>
        <div class="main"><a routerLink="home" id="home" class="main">Home</a></div>
    </nav>
</div>
<router-outlet></router-outlet>