@font-face {
    font-family: "Beijing";
    src: url('../../assets/fonts/Beijing.ttf')
}

#container {
  background-color: #46616e;
  padding-top: 60px;
}

table {
  background-color: #99ccff;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.info {
  font-family: "Beijing";
  width: 451px;
}